.mai{
    width:100%;
    height: 300px;
    
}
.fir{
    width:100%;
    height: 50%;
     
       
}
.a2{
    width: 16.67%;
    height: 100%;
    border: 1px solid white;
    float: left;
    margin: 1%;
}